body {
    background-color: black;
}
h3 {
    color: purple;
    align-items: center;
    font-family: font2;
}
h3 {
    cursor: url('link.cur'), auto;
}
html {
    cursor: url('nrm.cur'), auto;
}
@font-face {
    font-family: font2;
    src: url(fonts/alice.ttf)
}